.css-2zuqw3:hover {
  box-shadow: -4px 4px 24px 0 rgba(0,0,0,0.2);
}
.css-zgfmtf {
    opacity: 1;
    pointer-events: all;
  }
.css-z0qdt5
{
    display: none;
}

.css-geek62 {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
  }
  *, ::after, ::before {
    -webkit-tap-highlight-color: transparent;
    -webkit-overflow-scrolling: touch;
    box-sizing: border-box;
    font: inherit;
    margin: 0;
    padding: 0;
  }
  *, ::after, ::before {
    -webkit-tap-highlight-color: transparent;
    -webkit-overflow-scrolling: touch;
    box-sizing: border-box;
    font: inherit;
    margin: 0;
    padding: 0;
  }
  .css-vysyam {
    font-size: 22px;
    line-height: 0px;
    color: rgba(0,0,0,0.87);
    padding-left: 150px;
  }
  .css-vysyam span {
    font-weight: 1000;
    padding-left: 0px;
  }
  .css-1a8hw0c {
    -webkit-align-items: flex-end;
    -webkit-box-align: flex-end;
    -ms-flex-align: flex-end;
    align-items: flex-end;
    font-size: 12px;
    font-weight: 500;
    color: #5e23dc;
    display: inline;
    border: solid 1px #5e23dc;
    padding: 6px 25px;
    margin-left: 16px;
    border-radius: 4px;
  }
.css-44wuvx {
    max-width: 1056px;
    margin: 0 auto;
    padding: 48px 0 28px;
  }
.css-6ud0tk {
    width: 100%;
    height: 20px;
    padding-bottom: 190px;
    
    background-color: #ffffff;
  }
.css-1e9ng7c {
    width: 100%;
    white-space: nowrap;
    position: relative;
    margin-top: 0;
  }
  .css-7nnslv {
    width: 100%;
    height: 100%;
    overflow: hidden;
  }
  .css-44wuvx .slider-inner {
    padding: 0 16px;
  }
  .css-dlu4u9 {
    position: relative;
    -webkit-transition: 0.5s -webkit-transform;
    -webkit-transition: 0.5s transform;
    transition: 0.5s transform;
    -webkit-transition: translate3d(0,0,0);
    transition: translate3d(0,0,0);
    height: 100%;
  }
  .css-om3run {
    white-space: normal;
    height: 100%;
    display: inline-block;
    vertical-align: top;
    transition: transform 0.5s ease 0s, opacity 300ms ease 0s;
    opacity: 1;
  }
  .css-uwwqev {
    width: 100%;
    height: 100%;
  }
  .css-19m8ero {
    white-space: normal;
    height: 100%;
    display: inline-block;
    vertical-align: top;
    transition: transform 0.5s ease 0s, opacity 300ms ease 0s;
    opacity: 0.5;
  }

  .css-2zuqw3 {
    display: block;
    position: relative;
    height: 122px;
    width: 125px;
    padding: 16px;
    background-color: #0e0d0d;
    border-radius: 10px;
    box-shadow: 0 1px 3px 0 rgb(255, 254, 254);
    overflow: hidden;
    margin: 0px 12px 20px 0;
    -webkit-transition: all 0.2s;
    transition: all 0.2s;
  }
  .css-dvxmup {
    width: 48px;
    height: 48px;
    margin-bottom: 8px;
    border-radius: 25px;
    opacity: 1;
  }
  .css-qs4bii {
    animation: 300ms linear 0s 1 normal none running animation-1qbobka;
    object-fit: contain;
    width: 100%;
    height: 100%;
  }
  .css-h52i13 {
    font-size: 14px;
    line-height: 20px;
    line-height: normal;
    color: #fefefe;
    font-weight: 500;
    opacity: 1;
  }
  .css-zgfmtf {
    opacity: 1;
    pointer-events: all;
  }
